{% extends 'general/baseApp.html' %}

{% block content %}
<div class="panel panel-default panel-border">
	<div class="panel-heading">
		<h3 class="panel-title">Enterprise</h3>
	</div>
	<div class="panel-body" style="height: 79%">
	
		<form class="form-horizontal" action="" method="post"> 
		{% csrf_token %}                                   
        	<div class="form-group">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="Name" type="text" name="name" value="{{enterprise.name}}">
                </div>
            </div>                                                                                    
            <div class="form-group">
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="5" placeholder="Description" name="description">{{enterprise.description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-10">
                     <button type="submit" class="btn btn-success waves-effect waves-light">Update</button>
                </div>
            </div>
		</form>
        
	</div>
</div>
{% endblock %}